<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:sqlserver://127.0.0.1:1433;databaseName=fdc">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value="sa123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/fdc/pojo/Users.hbm.xml</value>
				<value>com/fdc/pojo/RecordRent.hbm.xml</value>
				<value>com/fdc/pojo/HouseNews.hbm.xml</value>
				<value>com/fdc/pojo/Mails.hbm.xml</value>
				<value>com/fdc/pojo/Homepage.hbm.xml</value>
				<value>com/fdc/pojo/Comments.hbm.xml</value>
				<value>com/fdc/pojo/Wanted.hbm.xml</value>
				<value>com/fdc/pojo/Collections.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="UsersDAO" class="com.fdc.dao.UsersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecordRentDAO" class="com.fdc.dao.RecordRentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseNewsDAO" class="com.fdc.dao.HouseNewsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="UsersService" class="com.fdc.service.UsersService">
		<property name="usersDAO">
			<ref bean="UsersDAO" />
		</property>
	</bean>

	<bean id="SpaceAction" class="com.fdc.action.SpaceActoin">
		<property name="usersService">
			<ref bean="UsersService" />
		</property>
		<property name="houseNewsService">
			<ref bean="HouseNewsService" />
		</property>
	</bean>
	<bean id="RecordRentService" class="com.fdc.service.RecordRentService">
		<property name="recordRentDAO">
			<ref bean="RecordRentDAO" />
		</property>
	</bean>

	<bean id="HouseNewsService" class="com.fdc.service.HouseNewsService">
		<property name="houseNewsDAO">
			<ref bean="HouseNewsDAO" />
		</property>
	</bean>

	<bean id="MailsService" class="com.fdc.service.MailsService">
		<property name="mailsDAO">
			<ref bean="MailsDAO" />
		</property>
	</bean>

	<bean id="ToSpaceAction" class="com.fdc.action.ToSpaceAction">
		<property name="recordRentService">
			<ref bean="RecordRentService" />
		</property>
		<property name="usersService">
			<ref bean="UsersService" />
		</property>
		<property name="houseNewsService">
			<ref bean="HouseNewsService" />
		</property>
		<property name="mailsService">
			<ref bean="MailsService" />
		</property>
		<property name="collectService">
			<ref bean="CollectService" />
		</property>
	</bean>


	<bean id="MailsDAO" class="com.fdc.dao.MailsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HomepageDAO" class="com.fdc.dao.HomepageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HomepageService" class="com.fdc.service.HomepageService">
		<property name="homepageDAO">
			<ref bean="HomepageDAO" />
		</property>
	</bean>
	<bean id="HomepageAction" class="com.fdc.action.HomepageAction">
		<property name="service">
			<ref bean="HomepageService" />
		</property>
	</bean>
	<bean id="HouseNewsAction" class="com.fdc.action.HouseNewsAction">
		<property name="houseNewsService">
			<ref bean="HouseNewsService" />
		</property>
		<property name="service">
			<ref bean="UsersService" />
		</property>
	</bean>
	<bean id="UsersAction" class="com.fdc.action.UsersAction">
		<property name="service">
			<ref bean="UsersService" />
		</property>
		<property name="mservice">
			<ref bean="HomepageService" />
		</property>
	</bean>
	<bean id="CommentsDAO" class="com.fdc.dao.CommentsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CollectService" class="com.fdc.service.CollectService">
		<property name="collectionsDAO">
			<ref bean="CollectionsDAO" />
		</property>
	</bean>
	<bean id="DetailService" class="com.fdc.service.DetailService">
		<property name="houseNewsDAO">
			<ref bean="HouseNewsDAO" />
		</property>
		<property name="commentsDAO">
			<ref bean="CommentsDAO" />
		</property>
		<property name="usersDAO">
			<ref bean="UsersDAO" />
		</property>
	</bean>
	<bean id="DetailAction" class="com.fdc.action.DetailAction">
		<property name="service">
			<ref bean="DetailService" />
		</property>
		<property name="collectService">
			<ref bean="CollectService" />
		</property>
	</bean>
	<bean id="WantedDAO" class="com.fdc.pojo.WantedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MailsAction" class="com.fdc.action.MailsAction">
		<property name="mailsService">
			<ref bean="MailsService" />
		</property>
	</bean>
	<bean id="CollectionsDAO" class="com.fdc.dao.CollectionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<bean id="CollectAction" class="com.fdc.action.CollectAction">
		<property name="collectService">
			<ref bean="CollectService" />
		</property>
	</bean>
	<bean id="CommentService" class="com.fdc.service.CommentService">
		<property name="commentsDAO">
			<ref bean="CommentsDAO" />
		</property>
	</bean>
	<bean id="CommentAction" class="com.fdc.action.CommentAction">
		<property name="commentService">
			<ref bean="CommentService" />
		</property>
	</bean>
</beans>
























